#content-img {
    width:  80% ;
    background-color: rgb(147, 117, 180);
    display:flexbox;
    
}



body{
    font-family: sans-serif;
    padding: 0;
    background-color:rgb(208, 223, 255);
}
.a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header {
    min-height: 105px;
    background-color:rgba(187, 164, 236, 0.959);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 90px;
    margin-right: 10px;
}
nav a {
    font-weight: 600;
    padding-right: 15px;
}
nav a:hover {
    color:rgba(155, 3, 243, 0.925)
}
@media (max-width: 700px){
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 5px;
    }
}
h3 {
    font-family:'Trebuchet MS';
    padding: 7px;
    font-size: 22px;
    text-align: center;
    border-style: double;
    border-color: blueviolet;
}
.img1{
    width: 20%;
}

.img2 {
    width: 20%;
 
}

.img3 {
  width: 20%;

}
.texto {
    background-color: rgb(171, 144, 196);
    font-family:'Trebuchet MS';
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    padding: 5%;
    border-style:solid;
}
    

