body{
    font-family: sans-serif;
    padding: 0;
    background-color:rgb(208, 223, 255);
}
.a{
    text-decoration: none;
    color: black;
}
header {
    min-height: 105px;
    background-color:rgba(187, 164, 236, 0.959);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 90px;
    margin-right: 10px;
}
nav a {
    font-weight: 600;
    padding-right: 15px;
}
nav a:hover {
    color:rgba(155, 3, 243, 0.925)
}
@media (max-width: 700px){
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 5px;
    }
}
h3 {
    font-family:'Trebuchet MS';
    padding: 7px;
    font-size: 22px;

    text-align: center;
    border-style: double;
    border-color: blueviolet;
}
.img {
    right: 45%;
    padding-left: 90px;
    transition: 2s;
    border-radius: 15%;
    float: inline-start;
    background-color: rgba(199, 158, 233, 0.911);
}
p {
   border-style:solid;
   box-sizing: border-box;
   }
  

    

